@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Professora @ViewData["Professora"]</p>
<adress>
    <strong>More information: </strong> <a href="https://www.udemy.com/">Udemy.com</a>>
