@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Sandra Silva @ViewData["Professora"]</p>
<adress>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/sandrasilva98/">SandraSilva - Linkedin</a><br />
